*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
/docs/build/
/useful.jl
/asdasd.jl
/1EN2.pdb
/ToDo
/code_graveyard.jl
/1j0m.pdb
/testfile2.jl
/LICENSE
/2lzx.pdb
/benzene.pdb
/6eno.pdb
/Project.toml
/ggt.jl
/testthingy
/cubane.pdb
/1,2-Benzodiazepine.pdb
/present.jl
/material_sheet_1_exercise_3.txt
/benchmarks.csv
/glucose.pdb
/plot.png
/notes
/readme.txt
/testfile.jl
/build.jl
/5ire.pdb
/dfissue.jl
/1ake.pdb
